<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	*{
		margin: 0;
		padding: 0;
	}
</style>
</head>
<body>
	<footer style="background-color: aqua;color: red;" th:fragment="footer1(title,subtitle)">
		<h1 th:text="${title}"></h1>
		<h3 th:text="${subtitle}"></h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, earum odit? Possimus adipisci quae quod praesentium animi explicabo ex magnam unde sunt cum repellendus et, corrupti error molestias, omnis blanditiis quas maxime, eligendi exercitationem beatae suscipit amet tempore consequatur. Quasi eveniet vitae atque beatae amet nam velit repellat ducimus alias accusamus. Sequi quia fugiat quisquam accusamus, eos vero commodi error blanditiis ea nobis voluptatem, ipsum optio velit harum eum corporis eaque officia quis asperiores, cum assumenda incidunt? Commodi vel fuga nobis labore itaque! Mollitia quaerat nostrum officia voluptas, nisi cum aliquid fugit molestias vero perspiciatis accusantium quisquam, cupiditate, voluptates nobis.</p>
	</footer>
</body>
</html>